body {
    width: 655px;
    height: 380px;
    margin-right: 25%;
    margin-left: 25%;
    padding-top: 10px;
    background: #ffffff;
    border-color: #cccccc;    
}
header {
    background: #ffffff;
    border-color: #cccccc;
    border: 960px;
    position: absolute;
    padding-left: 60%;
}

#logo {
    border: 8%;
    float: left;
    background: lightblue;
    border-color:  #cccccc;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;    
}

#extra1{
    float: left;
    padding-left: 52%;
    border-color:  #cccccc;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;  
    padding-bottom: 20px;
}

#extra2 {
    float: left;
    padding-left: 10px;
    border-color:  #cccccc;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;  
    padding-bottom: 20px;
}

#extra3 {
    float: left;
    padding-left: 10px;
    border-color:  #cccccc;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;  
    padding-bottom: 20px;
}

h1 {
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

img {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

#footer {
    background: #666666;
    padding: 20px;
    position: absolute;
    clear: both;
    bottom: 0;
    width: 100%;
    left: 0px;
}

portfolio {
    width: 655px;
    height: 380px;
    margin-right: 25%;
    margin-left: 25%;
    background: #ffffff;
    border-color: #cccccc;
    border-radius: 5px;
}

image1 {
    padding-right: 1px;
    width: 330px;
    float: left;

}

image2 {
    padding-left: 0px;
    width: 330px;
    float: right;
}

container {
    width: 655px;
    height: 380px;
    margin-right: 25%;
    margin-left: 25%;
    padding-left: 33%;
    padding-right: 33%;
    padding-top: 20px;
    background: #ffffff;
    border-color: #cccccc;
}
