body {
    width: 655px;
    height: 380px;
    margin-right: 25%;
    margin-left: 25%;
}
header {
    background: #ffffff;
    border-color: #cccccc;
    border: 960px;
}

logo {
    border: 8%;
    float: left;
    border: 10%;
    background: #ffffff;
    border-color:  #cccccc;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.header-right {
    float: right;
    border: 8%;
    border: 10%;
    background: #ffffff;
    border-color:  #cccccc;
}

body {
    background: #ffffff;
    border-color: #cccccc;
}

h1 {
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    height: 296px;
    width: 296px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    float: clear;
}

#footer {
    background: #666666;
    padding: 20px;
    position: absolute;
    clear: both;
    bottom: 0;
    width: 50%;
}