body {
    width: 655px;
    height: 380px;
    margin-right: 25%;
    margin-left: 25%;
    background: #ffffff;
    border-color: #cccccc;
}
header {
    background: #ffffff;
    border-color: #cccccc;
    border: 960px;
    position: absolute;

}

#logo {
    border: 8%;
    float: left;
    border: 10%;
    background: #ffffff;
    border-color:  #cccccc;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;    
    padding-right: 55%;
}

h1 {
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

#footer {
    background: #666666;
    padding: 20px;
    position: absolute;
    clear: both;
    bottom: 0;
    width: 50%;
}

portfolio {
    width: 655px;
    height: 380px;
    margin-right: 25%;
    margin-left: 25%;
    background: #ffffff;
    border-color: #cccccc;
}

image1 {
    padding-right: 10px;
    width: 330px;
    float: left;

}

image2 {
    padding-left: 0px;
    width: 330px;
    float: left;

}

container {
    width: 655px;
    height: 380px;
    margin-right: 25%;
    margin-left: 25%;
    background: #ffffff;
    border-color: #cccccc;
}